<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/newPuppy">
    Puppy Name: <input type="text" name="puppyName">
    Puppy Age: <input type="text" name="puppyAge">
    <input type="submit" value="Add">
  </form>
</body>
</html>